<div class="jumbotron mt-4">
   <h1 class="display-4">Categorizador</h1>
   <p class="lead">Frace motivadora</p>
</div>

{{#if user}}
<div class="jumbotron mt-4">
   <h1 class="display-4">ELLA NO TE AMA</h1>
   <p class="lead">:v</p>
</div>
 {{/if}}