<div class="row">
  <div class="col-md-4 mx-auto">
     <div class="card mt-4 text-center">
        <div class="card-header">
           <h1>Inicio de sesión</h1>
        </div>
        <img src="/img/logo.png"class="rounded-circle mx-auto d-block m-4" width="200" alt="logo">
        <div class="card-body">
            <form class="" action="/users/signin" method="POST">
               <div class="form-group">
                  <input type="email" name="email" placeholder="Correo" class="form-control" autofocus>
               </div>
               <div class="form-group">
                  <input type="password" name="password" placeholder="Password" class="form-control" autofocus>
               </div>
               <div class="form-group">
                  <button type="submit" name="button" class="btn btn-primary btn-block">Iniciar sesión</button>
               </div>
            </form>
        </div>
     </div>
  </div>
</div>
